spring:
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
      path: '/h2-console'
  datasource:
    url: jdbc:h2:mem:spring-app;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    platform: h2
    username: sa
    password:
    driverClassName: org.h2.Driver

spring.jpa.open-in-view: false

#logging.level.org.springframework.security: debug


devplant:
  init:
    accounts:
    - username: timo
      password: timo
    - username: admin
      password: admin
    - username: gigi
      password: gigi